@using PagedList;  
  
@using PagedList.Mvc;  
  
@model StaticPagedList<StackQuestionsWeb.Models.Item>

@{
    ViewBag.Title = "Questions";
}
<h1> Stackoverflow questions</h1>
<div class="col-md-8 col-md-offset-2">
    <div class="row">
        <div class="col-md-12">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new {@class ="form-horizontal"}))
        {
            <div class="form-inline">
                <div class="form-group">
                    Search by name: <input type="text" name="text" class="form-control"> 
                    Search by tag:  <input type="text" name="tag" class="form-control"> 
                    <input type="submit" class="btn btn-default" value="Search" />
                </div>
            </div>    
        }
    </div>
    </div>
   
    
    @foreach (var item in Model)
    {       
        <div class="row">   
                <hr />
                <div class="col-md-2">
                    <div class="label label-success">Votes @Html.DisplayFor(modelItem => item.Score)</div>
                </div>
                <div class="col-md-8">
                    <a href=@item.Link >@item.Title</a><br />
                    @foreach (var t in item.Tags)
                    {
                        <span class="label label-primary"> @Html.DisplayFor(modelItem => t)</span> 
                    }                     
                </div>
            <div class="col-md-2">
                 <a class="btn btn-info center" href="mailto:?Subject=@item.Title&body=@Url.Encode(item.Link)">Send link</a>                      
            </div>
            </div>  
    }
    <div class="col-md-8 center-block">
        @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new {  
        pageNumber, text = Request.QueryString["text"], tag = Request.QueryString["tag"]}))</div>
   
</div>


